extends layout

block content
  .container
    h1 404
    p Sorry, the page you are looking for does not exist.

    div
      a(href="javascript:history.back()" class="btn-logout") ← Go back
      a(href="/" class="btn-add") Home
