extends layout

block content
  .container
    h2 Registration Successful!
    p Your account has been created. You can now log in and start managing your tasks.
   
    a.btn-logout(href="/") â† Go Home to Login
